<%= form_for recipe do |f| %>
    
    <div class="field">
        <%= f.label "Category" %> <br>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Pick a Category" %>
    </div>
       
    <div class="field">
        <%= f.label "Add an Image" %> 
        <%= f.file_field :image %>
    </div>
    
    <div class="field">
        <%= f.label :name %> 
        <%= f.text_field :name, placeholder: "Enter a Recipe" %>
    </div>

    <div class="field">
        <%= f.label "Servings" %> 
        <%= f.number_field :number_of_persons, placeholder: "Enter a Number" %>
    </div>
    
    <fieldset>
        <legend>Ingredients</legend>
            <%= f.fields_for :recipe_ingredients do |ri_builder| %>
                
            <%= ri_builder.fields_for :ingredient do |ingr_builder| %> 
                    <div class="field">
                        <%= ingr_builder.text_field :name, placeholder: "Ingredient Name" %>
                    </div>
                <% end %>
                
                <div class="field">
                    <%= ri_builder.text_field :amount, placeholder: "Quantity" %>
                </div>
            <% end %>
     </fieldset>    
        
    <div class="field">
        <%= f.label :directions %> <br>
        <%= f.text_area :directions, cols: "50", rows: "5" %>
    </div>      
    
    <%= f.submit %>
<% end %>