<%= form_for recipe do |f| %>
    <div class="field">
        <%= f.label "Category" %> <br>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Pick a Category" %>
    </div>
       
    <div class="field">
        <%= f.label "Add an Image" %> 
        <%= f.file_field :image %>
    </div>
    
    <div class="field">
        <%= f.label :name %> 
        <%= f.text_field :name, placeholder: "Enter a Recipe" %>
    </div>

    <div class="field">
        <%= f.label :number_of_persons %> 
        <%= f.number_field :number_of_persons, placeholder: "Enter a Number" %>
    </div>
    
    <fieldset>
        <legend>Ingredients</legend>
            <%= f.fields_for :recipe_ingredients do |ri_builder| %>
                <%= ri_builder.fields_for :ingredient do |ingr_builder| %>
                    <div class="field">
                        <%= ingr_builder.text_field :name, placeholder: "Ingredient Name" %>
                    </div>
                <% end %>
                
                <div class="field">
                    <%= ri_builder.text_field :amount, placeholder: "Amount" %>
                </div>
            <% end %>
     </fieldset>    
        
    <%= f.fields_for :directions do |dir_builder| %>
        <div class="field">
            <%= dir_builder.label :cooking_process %> <br>
            <%= dir_builder.text_area :cooking_process, cols: "50", rows: "5" %>
        </div>
    <% end %>        
    
    <%= f.submit %>
<% end %>