<%= form_tag recipes_path, method: :get do %>
<p>
    <%= text_field_tag :query, params[:query], placeholder: "Enter a Name" %>
    <%= submit_tag "Search", name: nil %>
</p>
<% end %> <br>

<% @recipes.each do |recipe| %>
    <p>
        <li><%= link_to recipe.name, recipe_path(recipe) %> </li>
        <% if recipe.image.attached? %>
            <image src="<%=(url_for(recipe.image)) %>">
        <% end %> <br>
        <strong>by: <%= mail_to recipe.user.email %></strong>
    </p>
</ul>
<% end %>

