<h2><%= @recipe.category.name %></h2>
<h3><%= @recipe.name %> </h3>
<p>
    Created by: <%= @recipe.user.username %> on <%= created_date_of @recipe %>
</p>
<h3>Ingredients</h3>
<ul>
    <% @recipe.recipe_ingredients.each do |rec_ing| %>
    <table>
        <thead>
            <th><%= rec_ing.ingredient.name %></th>
        </thead>
        <tbody>
            <td><%= rec_ing.amount %></td>
        </tbody>
    </table>
    <% end %>
</ul>

<h3>Cooking Directions</h3>
<% @recipe.directions.each do |dir| %> 
<p>
    <%= dir.cooking_process %> 
</p>
<% end %>

<h3>Comments</h3>
<% @recipe.comments.each do |comment| %>
    <strong><%= comment.user.username.capitalize %> said:</strong> <%= comment.content %>
    <% if comment.user == current_user %>
        <%= link_to "Edit", edit_comment_path(comment) %>
        <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %> <br>
<% end %>

<%= form_for [@recipe, Comment.new] do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "Add Comment" %>
<% end %>

<% if @recipe.user == current_user %>
    <%= link_to "Back", recipes_path %> <br>
    <%= link_to "Edit", edit_recipe_path(@recipe) %> <br>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?" } %> <br>
<% else %>
    <%= link_to "Back", recipes_path %> <br>
<% end %>