
<br> Created on <%= created_date_of @recipe %>


<h3 style="color: red" style="color: red;"><%= @recipe.name %> </h3>

<% if @recipe.image.attached? %>
    <image src="<%=(url_for(@recipe.image)) %>">
<% end %>

<ul>
    <li><strong>Servings: <%= @recipe.number_of_persons%></strong></li>
</ul>

<h3 style="color: red">Ingredients</h3>
<ul>
    <% @recipe.recipe_ingredients.each do |rec_ing| %>
    <table>
        <thead>
            <th><%= rec_ing.ingredient.name %></th>
        </thead>
        <tbody>
            <td><%= rec_ing.amount %></td>
        </tbody>
    </table>
    <% end %>
</ul>

<h3 style="color: red">Cooking Directions</h3>
<p>
    <%= @recipe.directions %> 
</p>

<h3 style="color: red;">Comments</h3>
<% @recipe.comments.each do |comment| %>
    <% if comment.user.username.present? %>
        <strong><%= comment.user.username.capitalize %></strong> 
        <ul>
            <li> <%= comment.content %></li>
        </ul>
    <% else %> 
        <strong><%= comment.user.name.capitalize  %></strong> <br>
        <ul>
            <li><%= comment.content %></li>
        </ul> 
    <% end %> 

    <% if comment.user == current_user %>
        <%= link_to "Edit", edit_comment_path(comment) %> 
        <%= button_to "x", comment_path(comment), method: :delete, class: "destroy", data: {confirm: "Are you sure?" } %>
    <% end %> 
<% end %>

<%= render partial: "comments/form", locals: { comment: @recipe.comments.build } %>


<% if @recipe.user == current_user %>
    <%= link_to "Back", recipes_path %> <br>
    <%= link_to "Edit", edit_recipe_path(@recipe) %> <br>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?" } %> <br>
<% else %>
    <%= link_to "Back", recipes_path %> <br>
<% end %>