<!DOCTYPE html>
<html>
  <head>
    <title>RecipesSharing20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <%= render 'layouts/alerts' %>
    <nav>
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path(current_user) %> <br>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %> <br>
        <%= link_to "Recipes", recipes_path %> <br>
        <%= link_to "New Recipe", new_recipe_path %>
      <% else %>
          <%= link_to "Recipes", recipes_path %>
      <% end %>
    </nav>
    

    <%= yield %>
</body>
</html>
